
  
    <div id="content" class="p-1 p-md-1 pt-1">
        <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
          <div class="wrapper wrapper--w790">
              <div class="card card-5">
                  <div class="card-heading">
                      <h2 class="title">&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;Creer Template&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;</h2>
                  </div> 
<div class="card-body" >
    <form method="post" enctype="multipart/form-data">
          
        <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
                 <label class="form-control-label px-3"><span class="text-danger"> </span></label>
                 <input type="button"   (click)="compagne()"
                 class="btn btn-primary px-4" value="creer Compagne Courrier">
              </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3"><span class="text-danger">
                 </span></label> <input type="button"   (click)="courrier()"
                 class="btn btn-primary px-4" value="creer model courrier">
   </div>
        </div>
            
                
               
              
              
                
                <!--ck-editor name="editor" #myEditor [(ngModel)]="editorValue" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
                <ck-editor name="editor" #myEditor [(ngModel)]="content" 
                skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
                <ul>
                        <li (click)="selectText('adasdasd1')">adasdasd1</li>
                        <li (click)="selectText('adasdasd2')">adasdasd2</li>
                    </ul-->      
</form>
</div> 

<div>
    
   
   
    <!--button type="button" (click)="functiiopdf()">Telecharger PDF</button-->
  </div>
</div>
</div>
</div>
</div>  



    
  
  
  
  
  
  
  