
    <div id="content" class="p-1 p-md-1 pt-1">
        <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
            <div class="wrapper wrapper--w790">
                <div class="card card-5">
                    <div class="card-heading">
                        <h2 class="title">Envoyer un message avec variable</h2>
                    </div>
                              
        <div class="row gutters-sm">
            <div class="col-md-14">
                
<p style="color:red; text-align:center;"> fichier que vous devez télécharger, doit être en format CSV et contient des champs  spécifiques [numeroDossier,tel_client,tel_dossier],pour voir un exemple de ce type de fichier 
 <a href="assets/FICHIER SMS.xlsx" download="exemple.xlsx">cliquer ici</a>
 <a href={{urlvcard2}} download="exemple.pdf">cliquer ici2</a>

 <a href="assets/FICHIER SMS.xlsx" download="exemple.xlsx">cliquer ici3</a>


</p>
<div class="contact-clean">   

    
                <form class="md-form" #envmesssag = "ngForm">
                
                <div>
                    <div class="value">
                        <div class="input-group-desc">
                            <label for="file" class="label-file"> <div class="name">Importer un fichier</div></label>
                            <input type="file" id="file" class="input-file"   (change)="changeListener($event.target.files)"
                            />
                        </div>
                        <div >             
                            <label for="pet-select">choisir un variable:</label>
                            <select id="pet-select"  style="width:300px;" class="form-select"   [ngModel]="selectedDevice"
                            (ngModelChange)="selectText($event)" name="sel2" >
                                <option value="">Select un variable</option>
                                <option  *ngFor="let variable of lines[0]" 
                                [value]="variable">{{variable}}</option>
                            </select>   
                        </div>
                        <a *ngIf="status==200" href={{urlvcard}} download={{urlvcard}}>cliquer ici</a>

                        <!--div class="input-group-desc">
                            <label for="file" class="label-file"> <div class="name">Importer un fichier</div></label>
                            <input type="file" id="file" class="input-file"  
                            accept=".vcf"  />
                        </div-->


                        <!--div class="input-group-desc">
                            <label for="file" class="label-file"> <div class="name">Importer un image</div></label>
                            <input type="file" id="file" class="input-file"  
                            accept=".png"  />
                        </div-->
                    </div>
                </div>
                <div>
                    <div class="value">
                       <ul *ngFor="let n of excelObservable | async">
                        <li>{{n.numeroDossier}}--------{{n.telClient}}</li>

                       </ul>
                    </div>
                </div>
                <br>
                <div class="row justify-content-between text-left"> 
                    <label for="file" class="label-file"> <div class="name">la langue de message</div></label>

                    <div class="form-row"> 
                          <div class="form-check">
                            <input class="form-check-input" type="radio" value="Français" name="langue"
                            [(ngModel)]="langue" (change)="onItemChange($event.target.value)"> 
                            <label class="form-check-label" for="flexCheckChecked">
                                Français&nbsp; &nbsp; &nbsp;
                            </label>
                          </div>
                          <div class="form-check">
                             <input type="radio" class="form-check-input" value="Arabe" name="langue"
                             [(ngModel)]="langue" (change)="onItemChange($event.target.value)"> 
                            <label class="form-check-label" for="flexCheckChecked">
                                Arabe &nbsp; &nbsp; &nbsp;
                            </label>
                          </div>
                          <div class="form-check">

                            <input type="radio" class="form-check-input" value="Anglais" name="langue"
                            [(ngModel)]="langue" (change)="onItemChange($event.target.value)"> 
                            <label class="form-check-label" for="flexCheckChecked2">
                                Anglais
                            </label>
                          </div>
                        </div>  
                </div>
                <div class="form-group"><textarea class="form-control"  [(ngModel)]="contentmessage" 
                     name="message" placeholder="Message"
                     rows="14"></textarea></div>
              
                    
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 text-secondary">
                        <input type="button"   (click)="Vcard2()"
                        class="btn btn-primary px-4" value="Generate Vcard">
                    </div>

                    <div class="col-sm-14 text-secondary" >
                        <button type="button" class="btn btn-primary" (click)='precedent()' 
                        >Precedent</button>  &nbsp; &nbsp; &nbsp;&nbsp;
                        <div class="float-right" >
                        <button type="button" class="btn btn-primary" (click)='envoyermessage2()' 
                        >whatssap</button>
                    </div>
                    </div>
                   
                </div>
                <!--div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 text-secondary">
                        <input type="button"   (click)="messagefile()"
                        class="btn btn-primary px-4" value="wathssap">
                    </div>
                   
                </div-->
                
                  </form>

                </div>

                  <!--div class="frame">
                    <div class="center">
                        <div class="title">
                            <h1>Drop file to upload</h1>
                        </div>
                
                        <div class="dropzone">
                            <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                            <input type="file" class="upload-input" />
                        </div>
                
                        <button type="button" class="btn" name="uploadbutton">Upload file</button>
                
                    </div>
                </div-->
                <!-- original pen: https://codepen.io/roydigerhund/pen/ZQdbeN  -->
                
                <!-- NO JS ADDED YET -->


        


            </div>
        </div>
    </div>
</div>
</div>
    </div>
  


    