<div class="form-group col-sm-6 flex-column d-flex">   
  <label for="pet-select">choisir une annee:</label>
  <select id="pet-select"  style="width:300px;
  " class="form-select"    [ngModel]="selectedDevice"
  (ngModelChange)="selectText2($event)"
  name="sel2" >
      <option value="">selectionner une annee</option>
      <option  *ngFor="let variable of annee" 
      [value]="variable">{{variable}}</option>
  </select>  
 
 
  <label for="pet-select">choisir un mois:</label>
  <select id="pet-select"  style="width:300px;
  " class="form-select"    [ngModel]="selectedDevice"
  (ngModelChange)="selectText($event)"
  name="sel2" >
      <option value="">selectionner un mois</option>
      <option  *ngFor="let variable of mois" 
      [value]="variable">{{variable}}</option>
  </select>   
</div>
Total: {{totalefinal}} Dh





<section class="ftco-section" style="margin: 20px;
width: 84%;">
  <div class="container">
    <div class="row justify-content-left">
      <div class="col-md-6 text-center mb-5">
        
        <i class="bi bi-plus"></i>
      </div>
    </div>
    <div class="row" style="    width: 1350px;">
      <div class="col-md-12">
        <div class="table-wrap" style="margin-left: -26px;   margin-top: -30px;">
          <div class="card-header card-header-primary" style="    background-color: white;
          ">
            <table style="width: 1000px;">
              <tr>
                <th> <h4 class="card-title ">Factures</h4>
               </th>
              </tr>
            </table>
            </div>
         
          <table class="table table-responsive-xl">
            <thead>
              <tr>
                <th scope="col">#</th>
                              <th>nom utilisateur</th>
                              <th>date</th>
                              <th >type de messag</th>
                              <th >nombre des messages</th>
                              <th >unite</th>
                              <th >totale</th>  
              </tr>
            </thead>
            <tbody *ngFor="let facture of factures2  ">
              <tr> 
                <td scope="row">
                  {{facture.id}}</td> 
                <td>{{facture.nomuser }} </td> 
                <td>{{facture.datecreation.substring(0,10)}} </td> 
                <td>{{facture.typemessageenv }} </td> 
                <td>{{facture.nembremessageenv }} </td> 
                <td>{{facture.unite }}dh </td> 
                <td>{{facture.totale }}dh </td> 
                                       </tr>                                     
                                             

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
















      <!-- Page Content  -->
      <!--div id="content" class="p-1 p-md-1 pt-1">
        <div class="container">   
          <div class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 *ngIf='typeuser=="client"' class="card-title ">Tables des utilisateur</h4>
                      <h4 *ngIf='typeuser=="admin"' class="card-title ">Tables des Clients</h4>                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table" *ngIf="typeuser=='admin'">
                            <thead class=" text-primary">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">nom utilisateur</th>
                                  <th scope="col">date</th>
                                  <th scope="col">type de messag</th>
                                  <th scope="col">nombre des messages</th>
                                  <th scope="col">unite</th>
                                  <th scope="col">totale</th>                               
                                </tr>
                            </thead>
                            <tbody  *ngFor="let facture of factures2  "> 
                              <tr> 
                                 <td scope="row">
                                   {{facture.id}}</td> 
                                 <td>{{facture.nomuser }} </td> 
                                 <td>{{facture.datecreation.substring(0,10)}} </td> 
                                 <td>{{facture.typemessageenv }} </td> 
                                 <td>{{facture.nembremessageenv }} </td> 
                                 <td>{{facture.unite }}dh </td> 
                                 <td>{{facture.totale }}dh </td> 
                                                        </tr>                                     
                                                                  
                   </tbody> 
                          </table>

                        <table class="table" *ngIf="typeuser=='client'">
                          <thead class=" text-primary">
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">nom utilisateur</th>
                              <th scope="col">date</th>
                              <th scope="col">type de messag</th>
                              <th scope="col">nombre des messages</th>
                              <th scope="col">unite</th>
                              <th scope="col">totale</th>                               
                            </tr>
                          </thead>
                          <tbody  *ngFor="let facture of facturesclien"> 
                            <tr> 
                               <td scope="row">{{facture.id}}</td> 
                               <td>{{facture.nomuser }} </td> 
                               <td>{{facture.datecreation.substring(0,10)  }} </td> 
                               <td>{{facture.typemessageenv}} </td> 
                               <td>{{facture.nembremessageenv }} </td> 
                               <td>{{facture.unite }}dh </td> 
                               <td>{{facture.totale }}dh </td> 
                                                      </tr>                                     
                                                                
                 </tbody> 
                        </table>
                        <table class="table" *ngIf="typeuser=='utilisateur'">
                            <thead class=" text-primary">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">nom utilisateur</th>
                                <th scope="col">date</th>
                                <th scope="col">type de messag</th>
                                <th scope="col">nombre des messages</th>
                                <th scope="col">unite</th>
                                <th scope="col">totale</th>                               
                              </tr>
                            </thead>
                            <tbody  *ngFor="let facture of facturesustilisateur  "> 
                              <tr  *ngIf='facture.iduser==idactive'> 
                                 <td scope="row">{{facture.id}}</td> 
                                 <td>{{facture.nomuser }} </td> 
                                 <td>{{facture.datecreation.substring(0,10)   }} </td> 
                                 <td>{{facture.typemessageenv }} </td> 
                                 <td>{{facture.nembremessageenv }} </td> 
                                 <td>{{facture.unite }}dh </td> 
                                 <td>{{facture.totale }}dh </td> 
                                                        </tr>                                     
                                                                  
                   </tbody> 
                          </table>

                        <table class="table" *ngIf="typeuser=='admin'">
                          <thead class=" text-primary">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">nom</th>
                                <th scope="col">prenom</th>
                                <th scope="col">Email</th>
                                <th scope="col">adress</th>
                                <th scope="col">number</th>
                                <th scope="col">cin</th>
                                <th scope="col">ville</th>
                               
                              </tr>
                          
                          </thead>
                          <tbody  *ngFor="let user of users  ">  
                            <tr  *ngIf='user.type=="client"'> 
                               <td scope="row">{{user.id}}</td> 
                               <td>{{user.nom }} </td> 
                               <td>{{user.prenom}}</td> 
                               <td>{{user.email }}</td> 
                               <td>{{user.adress }}</td> 
                               <td>{{user.number}}</td> 
                               <td>{{user.cin}}</td> 
                               <td>{{user.ville}}</td> 
                              
                             </tr>                                     
                                                                
                 </tbody> 
                        </table>

                        <div class="form-group col-sm-6 flex-column d-flex">   
                          <label for="pet-select">choisir une annee:</label>
                          <select id="pet-select"  style="width:300px;
                          " class="form-select"    [ngModel]="selectedDevice"
                          (ngModelChange)="selectText2($event)"
                          name="sel2" >
                              <option value="">selectionner une annee</option>
                              <option  *ngFor="let variable of annee" 
                              [value]="variable">{{variable}}</option>
                          </select>  
                         
                         
                          <label for="pet-select">choisir un mois:</label>
                          <select id="pet-select"  style="width:300px;
                          " class="form-select"    [ngModel]="selectedDevice"
                          (ngModelChange)="selectText($event)"
                          name="sel2" >
                              <option value="">selectionner un mois</option>
                              <option  *ngFor="let variable of mois" 
                              [value]="variable">{{variable}}</option>
                          </select>   
                      </div>
                      Total: {{totalefinal}} Dh
                        






                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          
         </div>
         </div-->
        