<div id="pdf2"   style="width:900px;">



    <h1 style="text-align:center"><span style="font-size:11px">email</span><span style="font-size:11px"><u><strong>رسالـة تبليـــغ آخر إنــذار</strong></u></span></h1>

    <p style="text-align:right"><span style="font-size:11px">سيــدي (سيدتي)</span></p>
    
    <p style="text-align:right"><span style="font-size:11px">بالمبلغ المالي المشاراليه اعاله ناتـج عن عـدم اداء ملف قرضكم</span>preno<span style="font-size:11px">&nbsp;ملفا يستفاد منه أنكم مدينين لموكلتها&nbsp;DOUYOUNI&nbsp;&nbsp;&nbsp;لقد سلمتني موكلتي المركزية لتحصيل الديون</span></p>
    
    <p style="text-align:right"><span style="font-size:11px">.لذا ، فإني أشعركم و عند الإقتضاء أنذركـم بضرورة أداء المبـلغ أعاله مع وجوب الإتصال في جميع الحالات بالشخص المكلف بملفكــم من أجل إيجاد حل ودي</span></p>



                        <div class="float-right"  >
                            <img [src]="logo" width="100" height="60"  >
                        </div>
                        <div class="centrage">hada entete: {{entet}}
                        </div>
                        <br><br><br>
                        
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <div>
                                            <p>              
                                                &nbsp; &nbsp; &nbsp; <strong>Nom_Client:{{test}}</strong><br>
                                                <strong> </strong>
                                                &nbsp; &nbsp; &nbsp; <strong>Prenom_Client:</strong><br>
                                                <strong></strong>
                                                &nbsp; &nbsp; &nbsp; <strong>Email:</strong><br>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <strong></strong>
                        <p>
                         <strong> rabat :</strong>
                        </p>
                        <p>
                            <strong></strong>
                        </p>
                        <p>
                            <strong></strong>
                            <strong></strong>
                            <strong><u>date:</u></strong>
                            <strong><u></u></strong>
                        </p>
                        <p align="center">
                            <strong><h2>Titre:{{titre}}</h2></strong>
                            <strong><u></u></strong>
                        </p>
                        <p align="left">Monsieur:</p>
                        <p align="left">Objet :{{objet}}</p>
                      content :                    
                           <div [innerHTML]="content"></div>




                           
                      <br><br><br><br><br><br><br><br>
                        <footer align="center">
                        
                                {{pied}}
                           
                          </footer>
                    </div>
                    