    <div id="content" class="p-1 p-md-1 pt-1">
        <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
            <div class="wrapper wrapper--w790">
                <div class="card card-5">
                    <div class="card-heading">
                        <h2 class="title">Verfier le number de tele </h2>
                    </div>        
        <div class="row gutters-sm">
            <div class="col-md-14">
<p style="color:red; text-align:center;"> fichier que vous devez télécharger, doit être en format CSV et contient des champs  spécifiques [Nom,numero Telephone,pour voir un exemple de ce type de fichier 
 <a href="assets/FICHIER SMS.xlsx" download="exemple.xlsx">cliquer ici</a>
</p>
<div class="contact-clean">  
                <form class="md-form" #envmesssag = "ngForm">
                <div>
                    <div class="value">
                        <div class="input-group-desc">
                            <label for="file" class="label-file"> <div class="name">Importer un fichier</div></label>
                            <input type="file" id="file" class="input-file"  
                            />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 text-secondary">
                        <input type="button"   (click)="verfiernumber()"
                        class="btn btn-primary px-4" value="evoyer">
                    </div>
                </div>
                  </form>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
    </div>
   


    