<div id="content" class="p-1 p-md-1 pt-1">
    <div >
      <div >
          <div>
<div  style="height: 500px;">
<div class="form-row"> 
<div class="form-check">
  <h1 class="btn btn-primarysecond2">1-Generation Information </h1>
</div>
<div class="form-check">
  <h1 class="btn btn-primarysecond2">2-Add Reipcient</h1>
</div>
<div class="form-check">
  <h1 class="btn btn-primary">3-Compose message</h1>
</div>
<div class="form-check">
  <h1 class="btn btn-primarysecond3">4-Summary</h1>
</div>
</div>
<br>
<hr>
<form method="post" #registerform= "ngForm" enctype="multipart/form-data">
  <label for="pet-select">Promotional Category:</label>
  <label for="pet-select" style="margin-left: 624px;">Sender Id:</label>
  <div  class="form-row">   
        <select id="pet-select"  
     style="width:300px;" class="form-select"  
      [ngModel]="selectedpromotion"
    (ngModelChange)="selectText3($event)" name="sel3" required >
        <option  *ngFor="let variable3 of PromotionalCategory" 
        [value]="variable3">{{variable3}}</option>
    </select> 
 
    <select id="pet-select"   [ngModel]="sendermessageselected"
    style="width:300px; margin-left: 478px;" class="form-select"  
   (ngModelChange)="selectText2($event)" name="sel4" required >
       <option  *ngFor="let variable2 of sendermessag" 
       [value]="variable2">{{variable2}}</option>
   </select> 
</div>
  <div class="form-check">
        <h3 >Choisir type de message</h3>
      </div>
    <div class="form-check">
          <br>
        <input
          type="radio"
          class="btn-check"
          name="options"
          value="simple"
          [(ngModel)]="typemessage"
           (change)="onItemChange3($event.target.value)"
          id="option1"
          autocomplete="off"
          checked
        />
        <label  style="background: #007BBA;" class="btn btn-secondary" for="option1">Message Simple </label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input value="variable"
        [(ngModel)]="typemessage"
         (change)="onItemChange3($event.target.value)" type="radio" class="btn-check" name="options" id="option2" autocomplete="off" />
        <label style="background: #007BBA;" class="btn btn-secondary" for="option2">Message avec variable </label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    <br>
    <br>


    <div *ngIf="typemessage==='variable'">             
      <label for="pet-select">choisir un variable:</label>
      <select id="pet-select"  style="width:300px;" class="form-select"   [ngModel]="selectedDevice"
      (ngModelChange)="selectText($event)" name="sel2" >
          <option value="">Select un variable</option>
          <option  *ngFor="let variable of variables2" 
          [value]="variable">{{variable}}</option>
      </select>   
  </div>
  <div class="row">
    <div class="col-md-4">
    <div class="form-check" *ngIf="typemessage=='simple' || typemessage==='variable'">
        <h3 >Write Message :</h3>
      </div>
    <div  *ngIf="typemessage=='simple' || typemessage==='variable'" class="row justify-content-between text-left"> 
        <label for="file" style="margin-left: 8px;" class="label-file"> <div class="name">la langue de message</div></label>
        <div class="form-row" style="margin-left: 16px;"> 
              <div class="form-check">
                <input class="form-check-input" type="radio" value="Français" name="langue"
                [(ngModel)]="langue" (change)="onItemChange($event.target.value)"> 
                <label class="form-check-label" for="flexCheckChecked">
                    Français&nbsp; &nbsp; &nbsp;
                </label>
              </div>
              <div class="form-check">
                 <input type="radio" class="form-check-input" value="Arabe" name="langue"
                 [(ngModel)]="langue" (change)="onItemChange($event.target.value)"> 
                <label class="form-check-label" for="flexCheckChecked">
                    Arabe &nbsp; &nbsp; &nbsp;
                </label>
              </div>
              <div class="form-check">

                <input type="radio" class="form-check-input" value="Anglais" name="langue"
                [(ngModel)]="langue" (change)="onItemChange($event.target.value)"> 
                <label class="form-check-label" for="flexCheckChecked2">
                    Anglais
                </label>
              </div>
            </div>  
    </div>
    <div *ngIf="typemessage=='simple' || typemessage==='variable'" 
    class="form-group"><textarea
       [(ngModel)]="contentmessage" 
         name="message" placeholder="Message"
         rows="14"  (keyup)="doSomething($event)" style="width: 700px;height: 127px;"
         ></textarea>
                  <div id="counter" style="margin-left: 660px;"><span style="font-size: 12px;">{{taillemessage}}/{{nembremessage}}</span></div>
         <!--div id="counter" style="margin-left: 660px;"><span style="font-size: 12px;">{{nembremessage}}/3m</span></div-->
         <!--div class="form-row" style="margin-left: -12px;margin-top: -40px;" *ngIf="nembremessage==1"> 
         <div class="form-check" aria-disabled="true" >
          <h1 class="btn btn-primarysecond2" style="height: 31px;
          width: 61px;  pointer-events: none; 
          background-color: rgb(245, 13, 13);">1-sms</h1>
        </div>
        <div class="form-check" aria-disabled="true"  >
          <h1 class="btn btn-primarysecond2" style="height: 31px;
          width: 61px;  pointer-events: none; 
          background-color: burlywood;">2-sms</h1>
        </div>
        <div class="form-check" aria-disabled="true" >
          <h1 class="btn btn-primarysecond2" style="height: 31px;
          width: 61px;  pointer-events: none; 
          background-color: burlywood;">3-sms</h1>
        </div>
      </div-->
      <!--div class="form-row" style="margin-left: -12px;margin-top: -40px;" *ngIf="nembremessage==2"> 
        <div class="form-check" aria-disabled="true" >
         <h1 class="btn btn-primarysecond2" style="height: 31px;
         width: 61px;  pointer-events: none; 
         background-color: burlywood;">1-sms</h1>
       </div>
       <div class="form-check" aria-disabled="true" >
         <h1 class="btn btn-primarysecond2" style="height: 31px;
         width: 61px;  pointer-events: none; 
         background-color: rgb(245, 13, 13);">2-sms</h1>
       </div>
       <div class="form-check" aria-disabled="true" >
         <h1 class="btn btn-primarysecond2" style="height: 31px;
         width: 61px;  pointer-events: none; 
         background-color: burlywood;">3-sms</h1>
       </div>
     </div-->
     <!--div class="form-row" style="margin-left: -12px;margin-top: -40px;" *ngIf="nembremessage==3"> 
      <div class="form-check" aria-disabled="true" >
       <h1 class="btn btn-primarysecond2" style="height: 31px;
       width: 61px;  pointer-events: none; 
       background-color: burlywood;">1-sms</h1>
     </div>
     <div class="form-check" aria-disabled="true" >
       <h1 class="btn btn-primarysecond2" style="height: 31px;
       width: 61px;  pointer-events: none; 
       background-color: burlywood;">2-sms</h1>
     </div>
     <div class="form-check" aria-disabled="true" >
       <h1 class="btn btn-primarysecond2" style="height: 31px;
       width: 61px;  pointer-events: none; 
       background-color: rgb(245, 13, 13);">3-sms</h1>
     </div>
   </div-->
        </div>
      </div>
      <div   *ngIf="typemessage=='simple' || typemessage==='variable'" class="col-md-4"
       style="margin-left: 340px;">
        <div class="card card-chart" style="height: 240px;
        width: 500px;">
        
        <h5 align="center"> {{sendermessageselected}}</h5>
       <h3>{{langue}}</h3> 
       
        <br>
        {{contentmessage}}
     
        </div>
        <p>
          <button type="button" style="background-color: crimson;
          margin-left: 239px;"  (click)='clearmessag()'  class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-remove"></span>  
          </button>
        </p>
      </div>
      </div>
         <div   *ngIf="typemessage=='piece'" class="form-group">
            <div class="row justify-content-between text-left">
                <div class="form-group col-sm-6 flex-column d-flex">
                     <label class="form-control-label px-3"><span class="text-danger"> </span></label>
                     <input type="button"   (click)="compagne()"
                     class="btn btn-primary px-4" value="creer Compagne Courrier">
                  </div>
                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3"><span class="text-danger">
                     </span></label> <input type="button" 
                       (click)="courrier()"
                     class="btn btn-primary px-4" value="creer model courrier">
       </div>
        </div>     
        </div>
            <hr>  


            <div>
              
              <div class="float-right" >
                <table style="    width: 300px;"> 
                  <tr>
                    <th>
                      <button type="button" class="btn btn-primaryprecedent"
                      (click)='precedent()' 
                      >Precedent</button> 
                    </th>
                    <th>
                      <button type="button" class="btn btn-primarysuivant"
                        (click)='Suivant2()'   [disabled]="typemessage==='' || contentmessage==='' || sendermessageselected===''"
                      >Suivant </button>
                    
                    </th>
                  </tr>
                </table>
             </div>
              <!--button type="button" (click)="functiiopdf()">Telecharger PDF</button-->
            </div>
        
</form>
</div> 

</div>
</div>
</div>
</div>  



