
    <div id="content" class="p-1 p-md-1 pt-1">
        <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
          <div class="wrapper wrapper--w790">
              <div class="card card-5">
                  <div class="card-heading">
                      <h2 class="title">Configuration</h2>
                      
                  </div> 
     <div class="card-body">
    <form method="post" enctype="multipart/form-data" *ngIf ="temp==0" id="contentToConvert">
       
        <div class="form-row m-b-55" >
            <div class="value">
                <hr>
                <div class="row row-space">
                    <h4>Langue</h4>
                    <div class="col-6">
                            <div>
                                <label for="huey">Francais</label>
                                <input type="radio" id="Francais" name="drone" value="fr" [(ngModel)]="langue" 
                                       checked>
                              </div>
                    </div>
                    <div class="col-6">                           
                            <div>
                                <label for="huey">Arabe</label>
                                <input type="radio" id="arabe" name="drone" value="ar" [(ngModel)]="langue" 
                                       checked>
                              </div>
                              la langue est : {{langue}}
                      </div>
                </div>
            </div>
        </div>
       
        <div class="form-row m-b-55">
            langue :
            <div class="value">
                <div class="row row-space">
                    <h4>Template Courrier</h4>
                    <div class="col-6">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Titre :</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" lang="ar" value="test" [(ngModel)]="titre" name="titre"
                                 xml:lang="ar" class="form-control" >
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">objet:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text"  [(ngModel)]="objet"  name="objet" class="form-control" 
                             >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="form-row m-b-55">
    <div class="value">
        </div>
    </div>       
    <div class="form-row m-b-55">
        <div class="value">
            <div class="row row-space">
                <h4>configuration courriels:</h4>
                <div class="col-6">
                    <div class="row mb-3">
                        <h6  class="col-sm-6">Entete:</h6>
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <textarea id="story" name="story"
                                  rows="5" cols="33" [(ngModel)]="entete" >
                        </textarea>
                        </div>
                     
                    </div>
                </div>
                <div class="col-6">
                    <div class="row mb-3">
                        <h6 class="col-sm-6">Pied de page:</h6>
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <textarea id="story" name="story"
                                  rows="5" cols="33"  [(ngModel)]="pied">                    
                            </textarea>
                        </div>
                      
                    </div>
                </div>
                
                                <!--div style="position:relative;">
                                    <a class='btn btn-primary' href='javascript:;'>
                                        logo
                                        <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
                                    </a>
                                    &nbsp;
                                    <span class='label label-info' id="upload-file-info"></span>
                            </div-->
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
                    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                    <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary" onclick="$(this).parent().find('input[type=file]').click();">Logo</span>
                        <input name="uploaded_file" (change)="selectlogo($event)"  type="file">
                    </span>
                    </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
 </div>
      <div class="form-row m-b-55" >
        <div class="value">
            <hr>
            <div class="row row-space">
                <h4>Signature</h4>
                <div class="col-6">
                    <div class="row mb-3">
                        <h6 class="col-sm-6"> email:</h6>
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-7 text-secondary">
                            <textarea id="story" name="story"
                                  rows="5" cols="33"  [(ngModel)]="email">
                      
                        </textarea>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row mb-3">
                        <h6 class="col-sm-6">Signature email:</h6>
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-7 text-secondary">
                            <textarea id="story" name="story"
                                  rows="5" cols="33">
                        </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
 </div>
 <hr>
 <div class="form-row m-b-55">
    <div class="value">
        <h4>Configuration email</h4>
        <div class="row row-space">
            <div class="col-6">
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Host</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input type="text" class="form-control" 
                     >
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input type="text"  [(ngModel)]="test" class="form-control" 
                     >
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-space">
            <div class="col-6">
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">mot de passt</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">port :</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input type="text" class="form-control" 
                     >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

</div>

</form>



<!--div class=WordSection1 *ngIf ="temp==1"  id="contentToConvertt">

    <p class=MsoNormal align=right style='text-align:right' ><span lang=FR
    style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <p class=MsoNormal><span lang=FR style='font-size:12.0pt;line-height:115%;
    font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <p class=MsoNormal><span lang=FR style='font-size:12.0pt;line-height:115%;
    font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <p class=MsoNormal><img width=324 height=37
        [src]="url1" align=left hspace=12 vspace=5
    alt="«Nom_Client» «Prénom_Client»"></p>
    
    <p class=MsoNormal style='margin-left:163.0pt;text-indent:-163.0pt'><span
    lang=AR-MA dir=RTL style='font-size:14.0pt;line-height:115%;font-family:"Arial",sans-serif'>&#1575;&#1604;&#1585;&#1576;&#1575;&#1591;&nbsp;&#1601;&#1610;</span><b><span
    lang=AR-MA dir=RTL style='font-size:14.0pt;line-height:115%;font-family:"Arial",sans-serif'>
    :10/10/2018</span></b></p>
    
    <p class=MsoNormal align=right style='margin-left:411.1pt;text-align:right;
    text-indent:-163.0pt;line-height:normal'><b><span lang=FR style='font-size:
    12.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=right style='margin-left:411.1pt;text-align:right;
    text-indent:-163.0pt;line-height:normal'><b><span
    lang=FR style='font-size:12.0pt;font-family:"Arial",sans-serif'>«Numéro_Contrat»</span></b><b><span
    lang=FR style='font-size:12.0pt;font-family:"Arial",sans-serif'>:</span></b><span
    lang=FR style='font-size:16.0pt;font-family:"Arial",sans-serif'>&nbsp;</span><b><u><span
    lang=AR-MA dir=RTL style='font-size:16.0pt;font-family:"Arial",sans-serif'>&#1605;&#1585;&#1580;&#1593;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1610;</span></u></b></p>
    
    <p class=MsoNormal align=center style='text-align:center;line-height:normal'><b><u><span
    lang=AR-MA dir=RTL style='font-size:22.0pt;font-family:"Arial",sans-serif'>&#1585;&#1587;&#1575;&#1604;&#1600;&#1600;&#1577;
    &#1573;&#1606;&#1600;&#1600;&#1600;&#1600;&#1584;&#1575;&#1585;</span></u></b></p>
    
    <p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
    lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1587;&#1610;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1583;&#1610;</span><span
    lang=AR-MA dir=RTL style='font-size:14.0pt'> (</span><span lang=AR-MA dir=RTL
    style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1578;&#1610;</span><span
    lang=AR-MA dir=RTL style='font-size:14.0pt'>)</span><span lang=AR-MA dir=RTL
    style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1548;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
    lang=AR-MA dir=RTL style='font-size:14.0pt'> </span><span lang=AR-MA dir=RTL
    style='font-size:14.0pt;font-family:"Times New Roman",serif'>&#1606;&#1593;&#1604;&#1605;&#1603;</span><span
    lang=tzm-Arab-MA dir=RTL style='font-size:14.0pt;font-family:"Times New Roman",serif'>&#1605;
    &#1571;</span><span lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:
    "Times New Roman",serif'>&#1606;&#1606;&#1575; &#1578;&#1587;&#1604;&#1605;&#1606;&#1575;
    &#1605;&#1606; &#1591;&#1585;&#1601; &#1605;&#1572;&#1587;&#1587;&#1577;   </span><b><span
    lang=AR-MA style='font-size:14.0pt'><img width=127 height=33 id="Image 7"
    src="courrier%20SOFAC_fichiers/image002.jpg"></span></b><span dir=RTL></span><span
    lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Times New Roman",serif'><span
    dir=RTL></span> &#1605;&#1604;&#1601;</span><span lang=AR-MA dir=RTL
    style='font-size:14.0pt;font-family:"Times New Roman",serif'> &#1575;&#1604;&#1583;&#1610;&#1606;
    &#1575;&#1604;&#1584;&#1610; &#1578;&#1582;&#1604;&#1601;&#1578;&#1605; &#1593;&#1606;
    &#1571;&#1583;&#1575;&#1569; &#1571;&#1602;&#1587;&#1575;&#1591;&#1607;.</span></p>
    
    <p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
    lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1608;&#1575;&#1606;&#1607;
    &#1578;&#1582;&#1604;&#1583; &#1576;&#1584;</span><span lang=AR-MA dir=RTL
    style='font-size:14.0pt;font-family:"Times New Roman",serif'>&#1605;&#1578;&#1603;&#1605;
    &#1605;&#1576;&#1604;&#1594; </span><span lang=tzm-Arab-MA dir=RTL
    style='font-size:14.0pt;font-family:"Times New Roman",serif'>......</span></p>
    
    <p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
    lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Times New Roman",serif'> </span><span
    dir=LTR></span><span lang=FR style='font-size:14.0pt'><span dir=LTR></span>  </span><span
    lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Times New Roman",serif'>&#1607;&#1584;&#1575;&#1548;
    &#1608;&#1576;&#1593;&#1583; &#1605;&#1585;&#1608;&#1585;
    &#1575;&#1604;&#1571;&#1580;&#1604;
    &#1575;&#1604;&#1605;&#1590;&#1585;&#1608;&#1576; &#1604;&#1603;&#1605;
    &#1604;&#1604;&#1571;&#1583;&#1575;&#1569; &#1576;&#1588;&#1603;&#1604;
    &#1581;&#1576;&#1610;&#1548; &#1601;&#1602;&#1583;
    &#1578;&#1604;&#1602;&#1610;&#1606;&#1575;
    &#1578;&#1593;&#1604;&#1610;&#1605;&#1575;&#1578;
    &#1589;&#1585;&#1610;&#1581;&#1577; &#1576;&#1573;&#1581;&#1575;&#1604;&#1577;
    &#1575;&#1604;&#1605;&#1604;&#1601; &#1593;&#1604;&#1609; &#1575;&#1604;&#1602;&#1590;&#1575;&#1569;
    &#1602;&#1589;&#1583; &#1575;&#1578;&#1582;&#1575;&#1583; &#1575;&#1604;&#1573;&#1580;&#1585;&#1575;&#1569;&#1575;&#1578;
    &#1601;&#1610; &#1605;&#1608;&#1575;&#1580;&#1607;&#1578;&#1603;&#1605;.</span></p>
    
    <p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
    lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='margin-left:35.45pt;text-align:right;
    text-indent:-35.45pt;line-height:normal'><span lang=AR-MA dir=RTL
    style='font-size:14.0pt;font-family:"Times New Roman",serif'>&#1604;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1584;&#1575;
    &#1601;&#1573;&#1606;&#1606;&#1575; &#1606;&#1606;&#1584;&#1585;&#1603;&#1605;
    &#1576;&#1590;&#1585;&#1608;&#1585;&#1577; &#1575;&#1604;&#1575;&#1578;&#1589;&#1575;&#1604;
    &#1576;&#1575;&#1604;&#1585;&#1602;&#1605;
    &#1575;&#1604;&#1578;&#1575;&#1604;&#1610;:</span></p>

    <p class=MsoNormal align=center style='text-align:center;line-height:normal'><b><span
    lang=FR style='font-size:18.0pt;color:red'>06 </span></b><span dir=RTL></span><b><span
    lang=AR-MA dir=RTL style='font-size:18.0pt;font-family:"Times New Roman",serif;
    color:red'><span dir=RTL></span>61</span></b><span dir=LTR></span><b><span
    lang=AR-MA style='font-size:18.0pt;color:red'><span dir=LTR></span> </span></b><span
    dir=RTL></span><b><span lang=AR-MA dir=RTL style='font-size:18.0pt;font-family:
    "Times New Roman",serif;color:red'><span dir=RTL></span>72</span></b><span
    dir=LTR></span><b><span lang=AR-MA style='font-size:18.0pt;color:red'><span
    dir=LTR></span> </span></b><span dir=RTL></span><b><span lang=AR-MA dir=RTL
    style='font-size:18.0pt;font-family:"Times New Roman",serif;color:red'><span
    dir=RTL></span>02</span></b><span dir=LTR></span><b><span lang=AR-MA
    style='font-size:18.0pt;color:red'><span dir=LTR></span> </span></b><span
    dir=RTL></span><b><span lang=AR-MA dir=RTL style='font-size:18.0pt;font-family:
    "Times New Roman",serif;color:red'><span dir=RTL></span>11</span></b><span
    dir=LTR></span><b><span lang=FR style='font-size:18.0pt;color:red'><span
    dir=LTR></span>    </span></b></p>
    <p class=MsoNormal dir=RTL style='text-align:right;direction:rtl;unicode-bidi:
    embed'><span lang=AR-MA style='font-size:14.0pt;line-height:115%;font-family:
    "Times New Roman",serif'>&#1604;&#1578;&#1572;&#1584;&#1608;&#1575;
    &#1605;&#1576;&#1604;&#1594; &#1575;&#1604;&#1583;&#1610;&#1606;
    &#1575;&#1604;&#1605;&#1584;&#1603;&#1608;&#1585;
    &#1571;&#1593;&#1604;&#1575;&#1607; &#1601;&#1608;&#1585;
    &#1578;&#1608;&#1589;&#1604;&#1603;&#1605; &#1576;&#1607;&#1584;&#1575;
    &#1575;&#1604;&#1573;&#1606;&#1584;&#1575;&#1585;. </span></p>
    <p class=MsoNormal dir=RTL style='text-align:justify;direction:rtl;unicode-bidi:
    embed'><span lang=AR-MA style='font-size:14.0pt;line-height:115%;font-family:
    "Times New Roman",serif'>&#1608;&#1607;&#1584;&#1575;&#1548;
    &#1608;&#1601;&#1610; &#1581;&#1575;&#1604;&#1577; &#1593;&#1583;&#1605;
    &#1575;&#1587;&#1578;&#1580;&#1575;&#1576;&#1578;&#1603;&#1605;&#1548; &#1587;&#1578;&#1581;&#1605;&#1604;&#1608;&#1606;
    &#1575;&#1604;&#1578;&#1576;&#1593;&#1575;&#1578;
    &#1608;&#1575;&#1604;&#1606;&#1578;&#1575;&#1574;&#1580;
    &#1575;&#1604;&#1606;&#1575;&#1580;&#1605;&#1577; &#1593;&#1606;
    &#1578;&#1606;&#1601;&#1610;&#1584; &#1575;&#1604;&#1581;&#1603;&#1605;.</span><span
    dir=LTR></span><span lang=AR-MA dir=LTR style='font-size:14.0pt;line-height:
    115%'><span dir=LTR></span> </span></p>
    <p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
    lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Times New Roman",serif'>&#1601;&#1610;
    &#1581;&#1575;&#1604;&#1577; &#1578;&#1587;&#1608;&#1610;&#1577;
    &#1608;&#1590;&#1593;&#1610;&#1578;&#1603;&#1605; &#1573;&#1586;&#1575;&#1569;
    &#1605;&#1608;&#1603;&#1604;&#1578;&#1606;&#1575;&#1548;
    &#1606;&#1604;&#1578;&#1605;&#1587; &#1605;&#1606;&#1603;&#1605; </span><span
    lang=tzm-Arab-MA dir=RTL style='font-size:14.0pt;font-family:"Times New Roman",serif'>&#1571;</span><span
    lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Times New Roman",serif'>&#1606;
    &#1578;&#1608;&#1575;&#1601;&#1608;&#1606;&#1575; &#1576;&#1608;&#1589;&#1604; &#1575;&#1604;&#1571;&#1583;&#1575;&#1569;.
    </span></p>
    <p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
    lang=AR-MA dir=RTL style='font-size:14.0pt'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
    lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1608;&#1578;&#1602;&#1576;&#1604;&#1608;&#1575;
    &#1587;&#1610;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1583;&#1610;</span><span
    lang=AR-MA dir=RTL style='font-size:14.0pt'> (</span><span lang=AR-MA dir=RTL
    style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1578;&#1610;</span><span
    lang=AR-MA dir=RTL style='font-size:14.0pt'>)</span><span lang=AR-MA dir=RTL
    style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1548;</span><span
    lang=AR-MA dir=RTL style='font-size:14.0pt'> </span><span lang=AR-MA dir=RTL
    style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1571;&#1587;&#1605;&#1609;</span><span
    lang=AR-MA dir=RTL style='font-size:14.0pt'> </span><span lang=AR-MA dir=RTL
    style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1593;&#1576;&#1575;&#1585;&#1575;&#1578;</span><span
    lang=AR-MA dir=RTL style='font-size:14.0pt'> </span><span lang=AR-MA dir=RTL
    style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1575;&#1604;&#1578;&#1602;&#1583;&#1610;&#1585;</span><span
    lang=AR-MA dir=RTL style='font-size:14.0pt'> </span><span lang=AR-MA dir=RTL
    style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1608;&#1575;&#1604;&#1575;&#1581;&#1578;&#1585;&#1575;&#1605;</span><span
    lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Times New Roman",serif'>.</span></p>
    
    <p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
    style='position:absolute;z-index:-1895822336;left:0px;margin-left:15px;
    margin-top:436px;width:173px;height:180px'>
    
    <img width=115 height=120
    src="courrier%20SOFAC_fichiers/image003.png"></span></p>
    
    <p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
    lang=FR style='font-size:14.0pt'>&nbsp;</span></p>
    </div-->
  
    
<!--div *ngIf ="temp==1"  id="contentToConvertt" >
    <div>
        
           <div class="name">Adress{{vario}}</div>
           <div class="value">
               <div class="form-group"><textarea class="form-control"  
                   name="message" placeholder="Message"
                   rows="14"></textarea></div>
            
           </div>
       </div>
       <div>
           <table cellpadding="0" cellspacing="0" width="100%">
               <tbody>
                   <tr>
                       <td>
                           <div>
                               <p>
            <p class=MsoNormal><img width=324 height=37
        [src]="url1" align=left hspace=12 vspace=5
    alt="«Nom_Client» «Prénom_Client»"></p>
                                   <strong>{{Nom_Client}}</strong>
                                   <strong> </strong>
                                   <strong>«Prénom_Client»</strong>
                                   <strong></strong>
                               </p>
                           </div>
                       </td>
                   </tr>
               </tbody>
           </table>
           <strong></strong>
           <p>
               الرباط في<strong> :10/10/2018</strong>
           </p>
           <p>
               <strong></strong>
           </p>
           <p>
               <strong>{{nom}}</strong>
               <strong>:</strong>
               <strong><u>مرجعــــــــــي</u></strong>
               <strong><u></u></strong>
           </p>
           <p align="center">
               <strong><u>رسالــة إنــــذار</u></strong>
               <strong><u></u></strong>
           </p>
           <p align="right">سيــــــــدي (تي)،</p>
           <p align="right">نعلمكم أننا تسلمنا من طرف مؤسسة</p>
           <p align="right">
           ملف الدين الذي تخلفتم عن أداء أقساطه</p>
           <p align="right">
           وانه تخلد بذمتكم مبلغ ......</p>
           <p align="right">
               لذا فإننا ننذركم بضرورة الاتصال بالرقم التالي:  
           </p>
           
           <p align="right">
               
           </p>
           <p align="center">
               <strong>06 </strong>
               <strong>61</strong>
               <strong> </strong>
               <strong>72</strong>
               <strong> </strong>
               <strong>02</strong>
               <strong> </strong>
               <strong>11</strong>
              
           </p>
           <p dir="RTL">
               لتؤذوا مبلغ الدين المذكور أعلاه فور توصلكم بهذا الإنذار.
           </p>
           <p dir="RTL">
               وهذا، وفي حالة عدم استجابتكم، ستحملون التبعات والنتائج الناجمة عن تنفيذ
               الحكم.
           </p>
           <p align="right">
               في حالة تسوية وضعيتكم إزاء موكلتنا، نلتمس منكم أن توافونا بوصل الأداء.
           </p>
           <p align="right">
               وتقبلوا سيــــــــدي (تي)، أسمى عبارات التقدير والاحترام.
           </p>
       </div>
         <div>
           <button type="button" (click)="functiiopdf()">Telecharger PDF</button>
         </div>
   </div-->
</div> 
<div>
    <button type="button" (click)="Suivant()"class="btn btn-primary">Suivant</button>
  </div>
</div>
</div>

</div>
</div>  











