<!--form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Please register</h1>
    <input formControlName="name" class="form-control" placeholder="Name" required>
    <input formControlName="email" type="email" class="form-control" placeholder="Email" required>
    <input formControlName="password" type="password" class="form-control" placeholder="Password" required>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
  </form-->


<div  class="wrapper d-flex align-items-stretch">
   
    <div>
    <app-nav-hor ></app-nav-hor>
  
    </div>
   
        <!-- Page Content  -->
<div id="content" class="p-1 p-md-1 pt-1">
          
        

 
  <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Ajouter un nouvel utilisateur</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="form-row m-b-55">
                        <div class="name">Nom </div>
                        <div class="value">
                            <div class="row row-space">
                                <div class="col-6">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="first_name">
                                        <label class="label--desc">Nom</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="last_name">
                                        <label class="label--desc">Prénom</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Adress</div>
                        <div class="value">
                            <div class="input-group-desc">
                                <input class="input--style-5" type="text" name="adress">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Ville</div>
                        <div class="value">
                            <div class="input-group-desc">
                                <input class="input--style-5" type="text" name="Ville">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Email</div>
                        <div class="value">
                            <div class="input-group-desc">
                                <input class="input--style-5" type="email" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Code CIN</div>
                        <div class="value">
                            <div class="input-group-desc">
                                <input class="input--style-5" type="text" name="cin">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="name">Numéro</div>
                        <div class="value">
                            <div class="input-group-desc">
                                <input class="input--style-5" type="text" name="Number">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Password</div>
                        <div class="value">
                            <div class="input-group-desc">
                                <input class="input--style-5" type="password" name="Number">
                            </div>
                        </div>
                    </div>
                    <div>
            <button class="btn btn--radius-2 btn--red" type="submit">Ajouter </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</div>
</div>


  <!--div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Registration Info</h2>
                <form method="POST">
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Nom" name="name">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Prenom" name="Prenom">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Ville" name="Ville">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3 js-datepicker" type="text" placeholder="Birthdate" name="birthday">
                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                    </div>
                    <div class="input-group">
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="gender">
                                <option disabled="disabled" selected="selected">Gender</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="email" placeholder="Email" name="email">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Phone" name="phone">
                    </div>
                    <div class="p-t-10">
                        <button class="btn btn--pill btn--green" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div-->
<!--div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Event Registration Form</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="form-row m-b-55">
                        <div class="name">Name</div>
                        <div class="value">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="first_name">
                                        <label class="label--desc">first name</label>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="last_name">
                                        <label class="label--desc">last name</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Company</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" name="company">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Email</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="email" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-b-55">
                        <div class="name">Phone</div>
                        <div class="value">
                            <div class="row row-refine">
                                <div >
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="area_code">
                                        <label class="label--desc">Area Code</label>
                                    </div>
                                </div>
                                <div >
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="phone">
                                        <label class="label--desc">Phone Number</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Subject</div>
                      
                    </div>
                    <div class="form-row p-t-20">
                        <label class="label label--block">Are you an existing customer?</label>
                        <div class="p-t-15">
                            <label class="radio-container m-r-55">Yes
                                <input type="radio" checked="checked" name="exist">
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio-container">No
                                <input type="radio" name="exist">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn--radius-2 btn--red" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div-->
